@charset "utf-8";

/* */

.row1{
    width: 878px;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 3vh;
    position: relative;
}

.row1Tit, .row1Path{
    float: left;
}

.row1Tit{
    width: 50%;
}

.row1Tit{
    display: block;
    margin-top: 40px;
}

.row1Tit h3{
    font-size: 36px;
    font-weight: bold;
}

.row1Tit p{
    font-size: 18px;
    margin-top: 10px;
    font-style: italic;
}

.row1Path{
    width: 50%;
    font-size: 14px;
    text-align: right;
    padding-top: 5vh;
}

.row1Path a:first-child{
    background: url("../../../image/common/bt_home.png") no-repeat 0% 50%;
    padding-left: 12px;
}

.row1Filter{
    position: absolute;
    right: 0;
    bottom: 1vh;
}

.row1Filter a{
    float: left;
    margin-right: 15px;
}

.row1Filter a:last-child{
    margin-right: 0;
}

/* row2 */

.row2Wrap{
    width: 878px;
    
    margin: 0 auto;
    margin-bottom: 65px;
}

.row2Left, .row2Right{
    float: left;
}

.row2TopLeft, .row2TopRight{
    float: left;
    border-top: 1px solid #000;
}

.row2BottomLeft, .row2BottomRight{
    float: left;
    border-bottom: 1px solid #000;
}

.row2TopLeft, .row2BottomLeft{
    width: 530px;
    height: 281px;
}

.row2TopRight, .row2BottomRight{
    width: 348px;
    height: 281px;
}

.row2TopRight{
    text-align: center;
}

.row2TopBar{
    width: 90px;
    height: 1px;
    margin: 10px auto;
    background: #d0d0d0;
}

.row2TopRight h2{
    font-size: 24px;
    font-style: italic;
    color: #808080;
    margin-top: 18px;
}

.row2TopRight h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.row2TopRight p{
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    color: #5c5c5c;
    text-align: left;
    line-height: 180%;
    margin-bottom: 10px;
}

/* */

.row2Left1-1, .row2Left1-2, .row2Left1-3, .row2Left1-4{
    width: 200px;
    padding: 15px 0;
}

.row2Left1-2{
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

/* row2Left1-1 */

.row2Left1-1Contents li{
    margin: 10px 0;
}


.row2Left1-1Contents li:first-child{
    margin: 0;
    margin-bottom: 10px;
}


.row2Left1-1Contents li a{
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
}

.row2Left1-1Contents li:first-child a{
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;
}

/* row2Left1-2 */

.row2Left1-2Contents{
    width: 200px;
}

.row2Left1-2Contents li{
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

.row2Left1-2Contents li:first-child{
    float: none;
    margin-left: 0;
    position: relative;
    margin-bottom: 10px;
}

.row2Left1-2Contents li:first-child a:last-child{
    position: absolute;
    right: 0;
    top: 0;
}

.row2Left1-2Contents li a{
    
}

.row2Left1-2Contents li:first-child a{
    font-size: 20px;
    font-weight: bold;
}

.row2LeftBox{
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* row2Left1-3 */

.row2Left1-3{
    border-bottom: 1px solid #b8b8b8;
}

.row2Left1-3Contents li:first-child{
    margin-bottom: 10px;
}

.row2Left1-3Contents li a{
    
}

.row2Left1-3Contents li:first-child a{
    font-size: 20px;
    font-weight: bold;
}

.row2Left1-3Contents li:first-child{
    position: relative;
}

.row2Left1-3Contents li:first-child a:last-child{
    position: absolute;
    right: 0;
    top: 0;
}

.row2Left1-3Table{
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0
}

.row2Left1-3Table td{
    width: 33.3%;
    height: 26px;
    border: 1px solid #b8b8b8;
}

.row2Left1-3 p{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

/* row2Left1-4 */

.row2Left1-4Contents{
    width: 200px;
}

.row2Left1-4Contents li{
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
}

.row2Left1-4Contents li:first-child{
    float: none;
    margin-left: 0;
    position: relative;
    margin-bottom: 10px;
}

.row2Left1-4Contents li:first-child a:last-child{
    position: absolute;
    right: 0;
    top: 0;
}

.row2Left1-4Contents li a{
    font-size: 14px;
    font-weight: bold;
}

.row2Left1-4Contents li:first-child a{
    font-size: 20px;
    font-weight: bold;
}

.row2Left1-4Contents li{
    position: relative;
    width: 100%;
}

.row2Left1-4Contents li a input{
    position: absolute;
    right: 0;
}

.row2LeftCheckBox{
    width: 16px;
    height: 16px;
}

/* */

.row2BottomBar{
    width: 100px;
    height: 1px;
    margin: 10px 0 10px 25px;
    background: #d0d0d0;
}

.row2BottomLeft h2{
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    font-style: italic;
    color: #808080;
    margin-top: 18px;
}

.row2BottomLeft h3{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.row2BottomLeft p{
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    color: #5c5c5c;
    text-align: left;
    line-height: 180%;
    margin-bottom: 10px;
}

/* row2Right */

.row2Right{
    
}

.row2RightContents{
    width: 678px;
    text-align: center;
    padding: 3vh 0;
}

.row2RightContents li{
    width: 33.33%;
    height: 235px;
    float: left;
}

.row2RightContents li a{
    text-align: center;
}

.row2RightContents li a h3{
    font-size: 14px;
    font-weight: bold;
}

.row2RightContents li a h4{
    font-size: 14px;
    color: #505050;
}

.row2RightContents li a h5{
    font-size: 14px;
}

/* row2RightBtn */

.row2RightBtn{
    text-align: center;
    padding-bottom: 5vh;
}

.row2RightBtn li{
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    line-height: 28px;
    background: #000;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}

.row2RightBtn li a{
    color: #fff;
    display: block;
}

.row2RightBtn li:first-child{
    background: url("../../../image/04_products/firstPageBt.jpg") no-repeat;
    text-indent: -9999px;
}

.row2RightBtn li:nth-child(2){
    background: url("../../../image/04_products/backPageBt.jpg") no-repeat;
    text-indent: -9999px;
}

.row2RightBtn li:nth-child(3){
    background: #909090;
}

.row2RightBtn li:nth-child(3) a{
    color: #000;
}

.row2RightBtn li:nth-child(12){
    background: url("../../../image/04_products/nextPageBt.jpg") no-repeat;
    text-indent: -9999px;
}

.row2RightBtn li:last-child{
    background: url("../../../image/04_products/lastPageBt.jpg") no-repeat;
    text-indent: -9999px;
    margin-right: 0;
}








