@charset "utf-8";

/* */

.row1{
    width: 878px;
    margin: 0 auto;
    padding-top: 5vh;
}

.row1Tit, .row1Path{
    float: left;
}

.row1Tit{
    width: 50%;
    font-size: 24px;
}

.row1Path{
    width: 50%;
    font-size: 14px;
    text-align: right;
    padding-top: 5vh;
}

.row1Path a:first-child{
    background: url("../../../image/common/bt_home.png") no-repeat 0% 50%;
    padding-left: 12px;
}

/* */

.row2Wrap{
    width: 878px;
    margin: 0 auto;
    border: 1px solid #000;
    
}

.row2{
    height: 440px;
    display: block;
}

.row2Menu{
    width: 33.33%;
    height: 220px;
    float: left;
}

.row2 li{
    
}

.row2 li ul{
    
}

.row2 li ul div{
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    border-bottom: 1px solid #000;
    margin: 30px 0 1vh 30px;
}

.row2 li ul li{
    margin: 1.5vh 0;
}

.row2 li ul li a{
    font-size: 16px;
    font-weight: 400;
    border-bottom: none;
    margin-left: 30px;
}




